
.bottom
  .bottom-content
    .label search jobs
    .label get started
    .label get hired
    .label grow a career
    .label get paid
    .label faq
.pointer
a( href = 'https://www.meetup.com/profreelance/events/238586484/' )
  .button-start Стати Фрілансером
